body {
    display: flex;
    flex-direction: column;
    align-content: center;
}


.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: red;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

#myText {
    display: flex;
    width: 40px;
}


.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#demo {
    display: flex;
    justify-content: center;
    align-items: center;
}

